.sidebar {
  padding: 20px;
  display: block;
  float: left;
}
.sidebar ul {
  list-style-type: none;
}

.header {
  display: block;
  float: right;
}

.header ul {
  list-style-type: none;
  padding: 0px 20px 0px 20px;
}

.header li {
  display: inline;
  padding: 0px 5px 0px 5px;
}

.tabnav-right {
  display: block;
  float: right;
}

.tabnav-left {
  display: block;
  padding-top: 40px;
}

.nav-tabs li:nth-child(n+3) {
  float: right;
}

.well {
  display: block;
}
